<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="w-full bg-blue-500 p-1 text-white flex justify-between items-center mb-5">
    <%= link_to "", root_path, class: "fa-solid fa-chevron-left" %>
    <h2 class="uppercase">Log in</h2>
    <div class="actions">
      <%= f.submit "Log In", class: "text-sm cursor-pointer" %>
    </div>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field m-2">
    <%= f.email_field :email,
        autofocus: true,
        class: "text-sm text-gray-base w-full py-5 px-4 h-2 border border-gray-200 rounded mb-2",
        placeholder: "Email"
    %>
    <%= f.password_field :password,
        placeholder: "Password",
        class: "text-sm text-gray-base w-full py-5 px-4 h-2 border border-gray-200 rounded mb-2"
    %>
  </div>

<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot password?",
      new_password_path(resource_name),
      class: "flex justify-center items-center text-sm text-gray-400"
  %>
<% end %>
