<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8f76becb1e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen relative bg-white-700">
    <% if notice.present? %>
      <div class="w-full bg-green-500 text-white flex justify-center items-center">
        <p class="notice p-1 fw-regular"><%= notice %></p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="w-full bg-red-500 text-white flex  justify-center items-center">
        <p class="alert p-1 fw-regular"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
